<section class="hero container">
  <div class="hero-london">
    <h4 class="gradient">London 2004</h4>
    <p>
      Our creative design bureau is based in the heart of London and <br /> specializes
      in digital branding, website design, and influence <br /> marketing. <br
      /> We believe in the power of digital media to transform businesses <br />
      and connect them with their audiences in meaningful ways.
    </p>
  </div>
</section>

<style>
  .hero {
    height: 500px;
    background: rgb(17, 17, 17);
  }

  .hero-london {
    margin-left: 2rem;
    padding-top: 5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 780px;
  }

  .hero-london h4 {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.94rem;
  }

  .hero-london p {
    font-size: 0.88rem;
    font-weight: 100;
    line-height: 1.06rem;
  }
</style>
